<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Locals™</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
<v-app>
<!-- <v-navigation-drawer app>
</v-navigation-drawer> -->

<v-app-bar app>
    <v-row>
        <!-- <v-spacer></v-spacer> -->
        <v-col v-if="redirectUrl">
            <a :href="redirectUrl">
                <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png">

                </img>
            </a>
        </v-col>
        <v-col v-if="auth.access_token">
            <v-btn @click="logout">Log out</v-btn>
        </v-col>
        <v-spacer></v-spacer>
    </v-row>
</v-app-bar>
<v-main>
    <v-container fluid>
        <!-- 🕹️ Фильтры -->
        <v-row>
            <!-- <v-col>
                <v-btn @click="newSettingsPreset" color="purple">
                    New preset
                </v-btn>
            </v-col>
            <v-col>
                <v-btn color=""
                       @click="sortPresets">
                    Sort
                </v-btn>
            </v-col> -->
            <!-- <v-col>
                <v-checkbox
                    v-model="settings.includeFolderName"
                    label="Include folder name"
                ></v-checkbox>
            </v-col> -->
            <!-- <v-col>
                <v-select
                    return-object
                    :items="savedSettingsPresets"
                    item-text="presetName"
                    v-model="settings"
                    outlined>
                </v-select>
            </v-col>
            <v-col>
                <v-text-field v-model="settings.presetName"
                    label="Preset name">
                </v-text-field>
            </v-col> -->
            <v-col>
                <!-- <v-btn @click="scan" color="orange"
                       v-if="this.SwaggerClient && !loading">
                    Scan
                </v-btn> -->
                <v-progress-circular
                    v-if="!this.SwaggerClient || loading"
                    color="orange"
                    indeterminate>
                </v-progress-circular>
            </v-col>
            <!-- <v-col>
                <v-select
                    loading="!regions.length"
                    :items="regions"
                    item-text="name"
                    item-value="region_id"
                    v-model="settings.selected_region"
                    outlined>
                </v-select>
            </v-col>
            <v-spacer></v-spacer>
            <v-col>
                <v-btn color=""
                       @click="deletePreset">
                    <v-icon>mdi-delete-alert</v-icon>
                </v-btn>
            </v-col> -->
        </v-row>
        <!-- <v-row>
            <v-col>
                <v-text-field v-model="settings.minPrice"
                    label="Min item price, kk"
                    type="number">
                </v-text-field>
            </v-col>
            <v-col>
                <v-text-field v-model="settings.maxPrice"
                    label="Max item price, kk"
                    type="number">
                </v-text-field>
            </v-col>
            <v-col>
                <v-text-field v-model="settings.minMargin"
                    label="Min margin"
                    type="number">
                </v-text-field>
            </v-col>
            <v-col>
                <v-text-field v-model="settings.minVolumeAverage"
                    label="Min volume average"
                    type="number">
                </v-text-field>
            </v-col>
            <v-col>
                <v-text-field v-model="settings.maxCompetition"
                    label="Max competition"
                    type="number">
                </v-text-field>
            </v-col>
            <v-col>
                <v-select
                    label="Competition factor"
                    :items="competitionFactors"
                    v-model="settings.competitionFactor"
                    outlined>
                </v-select>
            </v-col>
            <v-col>
                <v-select
                    label="Presence factor"
                    :items="presenceFactors"
                    v-model="settings.presenceFactor"
                    outlined>
                </v-select>
            </v-col>
                <v-checkbox
                    v-model="settings.volumeHeuristics"
                    label="Volume heuristics"
                ></v-checkbox>
            </v-col>
            <v-col>
                <v-checkbox
                    v-model="settings.competitionHeuristics"
                    label="Competition heuristics"
                ></v-checkbox>
            </v-col>
        </v-row> -->
        <!-- 📈 PROGRESS BAR -->
        <v-row v-if="loading">
            <v-progress-linear v-if="!indeterminate"
                v-model="loadingProgress"
                :color="loadingColor">
            </v-progress-linear>
            <v-progress-linear v-if="indeterminate"
                indeterminate
                :color="loadingColor">
            </v-progress-linear>
        </v-row>
        <!-- 🚧 NOTIFICATIONS -->
        <v-row>
            <v-spacer></v-spacer>
            <v-col>
                <v-alert v-if="error"
                    v-model="error"
                    close-text="Close Alert"
                    color="red"
                    dismissible>
                    {{ errorMessage }}
                </v-alert>
                <v-alert v-if="info"
                    v-model="info"
                    close-text="Close"
                    color="blue">
                    {{ infoMessage }}
                </v-alert>
            </v-col>
            <v-spacer></v-spacer>
        </v-row>
    </v-container>
</v-main>
<v-footer app>
    <!-- -->
</v-footer>
</v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/swagger-client"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/idb@7/build/umd.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- <script src="./src/index.js"></script> -->
<style>
    .stackSheet {
        position: relative;
    }
    .stackSpark {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
</body>
</html>